{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if session["user_id"] %}
    <!-- Main Content Area -->
        <h1>Welcome to your profile, {{ username }}</h1>
        <div class="panels-container">
            <!-- Left Panel -->
            <div class="left-panel-container">
                <div class="panel left-panel">
                    <h3>My Describid</h3>
                    <!-- Content for left panel goes here -->
                    {% for my_describid in my_describids %}
                        <div class="card play-card {{ 'play-card-desc' if my_describid.status == 'describable' else '' }}">
                            <div class="card-body">
                                <h5>{{ my_describid.keyword }}</h5>
                                <h6>{{ my_describid.status }}</h6>
                                <p id="play-id" hidden>play id: {{ my_describid.id }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Right Panel -->
            
                <div class="panel right-panel">
                    <!-- Content for right panel goes here -->
                    {% for active_play in active_plays %}
                        <div class="card play-card">
                            <div class="card-body">
                                <h5>By: {{ active_play.owner_username }}</h5>
                                <h6>You're a {{ active_play.id_role }}</h6>
                                <p id="play-id">play id: {{ active_play.id }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            
        </div>

    {% else %}
        <h1>Welcome to 4Describid!</h1>
        <p>Please <a href="/login">log in</a> or <a href="/register">register</a> to continue.</p>  
        <h5>
        <p>4Describid is a 2v2 word-guessing game<br>
        where players communicate or sabotage descriptions of a keyword.</p>
        </h5>
        <p>Join us to test your creativity and vocabulary skills!</p>
    {% endif %}


{% endblock %}